* {
  box-sizing: border-box;
}
html,body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    background-color: #484d57;
}
.navbar {
    box-sizing: content-box;
    background-color: #ffffff;
    margin: 0;
    padding: 0px;
    padding-top: 10px;
    height: 40px;
    overflow: hidden;
}
a {
    text-decoration: none;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    color: black;
    overflow-x:hidden;
}
span {
    font-size: 20px;
    margin: 0px;
    padding: 20px;
    color: black;
    overflow-x:hidden;
}
#CSE:hover, #ITESM:hover, #ONLINE:hover {
    background-color: #9bb0be;
    margin: 0;
    padding: 20px;
    overflow-x:hidden;
}
div {
    margin-top: 0px;
    padding-top: 0px;
}
#login {
    padding-top: 10px;
    font-size: 20px;
    padding: 6px 18px; 
    overflow: hidden; 
    background-color: #638196; 
    border-radius: 15px; 
    margin-right: 20px;
    float: right;
}
#login:hover {
    background-color: #9bb0be;
}
#help {
    font-size: 20px;
    padding: 7px 18px; 
    overflow: hidden; 
    background-color: #ffffff; 
    border-radius: 15px; 
    margin-right: 10px;
    float: right;
    text-align: top;
}
#help:hover {
    background-color: #638196;
}
#search {
  float: right;
  width: 5%;
  padding: 5px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid #484d57;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}
#searchbar {
    padding : 10px; 
    margin: 0px;
    float: right;
    text-align: top;
    border: 1px solid #484d57;
    height: 32px;
    border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.logo:hover {
  transform: scale(1.05);
}
.quote1 {
    text-align: center;
    color: white;
    font-size: 30px;
    width: 1100px;
    margin: auto;
    margin-bottom: 20px;
}
.searchbar {
  max-width: 900px;
  margin: auto;
  margin-bottom: 50px;
}
.searchbar input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #484d57;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  float: left;
  width: 80%;
  background: #f1f1f1;
  margin-bottom: 50px;
}
.searchbar button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid #484d57;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.subject{
  display: grid;
  grid-gap: 100px;
  grid-template-columns: auto auto;
  grid-auto-flow: auto;
}
.subject { 
    margin: 0px;
    background-color: #484d57;
}
.resources, .video {
  margin: auto;
}
.subjectheading {
  color: #000000;
  font-size: 50px;
  margin-left: 70px;
}
.subjectresources {
  color: #000000;
  font-size: 20px;
  background-color: #638196;
  margin-top: 10px;
  padding: 10px;
  margin-left: 120px;
  display: block;
  border-radius: 25px;
}
.video {
  border-radius: 25px;
  margin: 40px;
  float: right;
}
.othersubjects {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: auto;
  grid-gap: 30px;
  background-color: #484d57;
  padding: 10px;
}
.othersubject {
  text-align: center;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 50px;
  width: 594px;
  height: 264px;
  margin: 20px;
  border-radius: 10px;
  transition: transform .2s;
}
 .subjectresources:hover {
   background-color: #9bb0be;
}
.othersubject:hover, .subjectresources:hover, .coursesubject:hover, .extrasubject:hover {
  transform: scale(1.05);
}
.otherquotes {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  text-align: center;
}
.otherauthor {
  font-size:15px;
}
.coursesubjects {
  display: flex;
  flex-flow: row wrap;
  background-color: #484d57;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
.coursesubject {
  text-align: center;
  background-color: #f1f1f1;
  margin: 10px;
  font-size: 23px;
  padding: 10px;
  height: 90px;
  width: 250px;
  border-radius: 40px;
}
.extrasubjects{
  display: flex;
  flex-flow: row wrap;
  background-color: #484d57;
  justify-content: space-between;
}
.extrasubject {
  text-align: center;
  background-color: #f1f1f1;
  margin: 10px;
  font-size: 25px;
  height: 70px;
  width: 425px;
  border-radius: 30px;
}
.lineaboutuss {
  background:#e0d4d440 url("reading-book.png") no-repeat fixed;
  background-size: cover;
}
.lineaboutuss > div {
  text-align: center;
  font-size: 30px;
  background-color: rgba(155, 176, 190, 0.5);
  margin-top: 20px;
}
.lineaboutuss > p {
  display: inline-block;
}
.webname {
  font-size: 120px;
  width: 900px;
  margin: auto;
  background-color: rgba(255, 0, 64, 0.3);
  color: #041950;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 150px;
}
.webname1:hover, .webname:hover {
  transform: scale(1.05);
}
.webmotto {
  font-size: 50px;
  margin: 10px;
  margin-bottom: 50px;
  color:rgb(85, 15, 33);
}
.learn-on-the-go {
  height: 550px;
}
.feedback, .contactus {
    width: 20%;
    float: left;
    text-align: center;
    font-size: 50px;
    padding: 10px;
    background-color: #9bb0be; 
    margin: 20px;
    border-radius: 10px;
}
.contactus {
    float: right;
}
.feedback:hover, .contactus:hover, .aboutus:hover {
    background-color: #638196;
    transform: scale(1.05);
}
.aboutus {
    max-width: 20%;
    clear: left;
    text-align: center;
    font-size: 50px;
    padding: 10px;
    background-color: #9bb0be; 
    border-radius: 10px;
    margin: auto;
}
.social {
    text-align: center;
    margin-bottom: 10px ;
}
.socialicon {
    width:20px; 
    height:20px;
    margin: 2px;
}
.socialicon:hover {
  transform: scale(1.05);
}
